@*Confirm order Screen*@

@model _1.UI.Models.OrderConfirmationVM

<h1>
    הזמנת אושרה - צפיה נעימה----->
   
        <a href="https://www.google.co.il/search?q=%D7%A1%D7%A8%D7%98%D7%99%D7%9D+%D7%9C%D7%A6%D7%A4%D7%99%D7%99%D7%94+%D7%99%D7%A9%D7%99%D7%A8%D7%94&rlz=1C1CHZL_iwIL749IL749&oq=xryhp&aqs=chrome.3.69i57j0l5.2564j0j7&sourceid=chrome&ie=UTF-8">לחץ על הקישור</a>

   
</h1>


